.content {
    width: 75%;
    margin: auto;
}

.text-header {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    margin: 0;
    color: rgba(55, 54, 54, 0.85);
}

.text {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.5;
    letter-spacing: 1.5;
    font-size: larger;
    text-align: justify;
    color: gray;
}

.text-footer {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    font-style: italic;
    color: gray;
}

@media only screen and (min-width: 500px) {
    .block {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin-top: 5rem;
        }
    .textBlock {
        width: 50%;
    }
}