.content {
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.5;
    font-size: x-large;
    text-align: center;
    color: gray;
}

.link {
    color: slateblue;
}

@media only screen and (min-width: 500px) {
    .textBlock {
        width: 55%;
        margin: auto;
        margin-top: 6rem;
    }
}