.content {
    width: 75%;
    margin: auto;
}

.text {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.5;
    font-size: larger;
    text-align: justify;
    color: gray;
}

.link {
    color: slateblue;
}

@media only screen and (min-width: 500px) {
    .textBlock {
        width: 50%;
    }
}