.content {
    width: 100%;
}

.button {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.headline, .middle, .end {
    display: flex;
    justify-content: center;
}

@keyframes reveal-curtain {
	from {
        clip-path: inset(0% 50% 0% 50%);
        opacity: 0;

	}
	to {
		clip-path: inset(0% 0% 0% 0%);
        opacity: 1;
	}
}

@keyframes fade {
	from {
        opacity: 0;

	}
	to {
        opacity: 1;
	}
}

.border {
    border-style: solid;
    width: 75%;
    border-image: radial-gradient(rgb(146, 146, 146), rgb(250,250,250)) 1;
    margin-bottom: 3rem;
}

.middle {
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.middle.in-view {
	animation: reveal-curtain 3.5s ease-out;
}

.coming-soon-text {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    color: rgba(55, 54, 54, 0.85);
    margin-top: 2rem;
    text-align: center;
}

.title-text {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: gray;
    font-style: italic;
    margin: 0;
    margin-bottom: 0;
    text-align: center;
}

.dotslash-header {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: gray;
    font-style: italic;
    margin: 2rem;
    text-align: center;
}

.dotslash-text {
    font-family:'Raleway', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(75, 75, 75, 0.85);
    margin: 0;
    text-align: center;
    max-width: 80%;
}

.dotslash-gif {
    margin-top: 2rem;
    box-shadow: 10px -4px 30px -6px rgb(80, 79, 79);
}

@media only screen and (min-width: 750px) {
    .coming-soon-text {
        font-size: xx-large;
    }
    .title-text {
        font-size: xx-large;
    }
    .dotslash-header {
        font-size: 5rem;
    }
    .dotslash-text {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 750px) {
    .image {
        max-width: 80%;
    }
}