.content {
    width: 100%;
}

.button {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.headline, .middle, .end {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

@keyframes reveal-curtain {
	from {
        clip-path: inset(0% 50% 0% 50%);
        opacity: 0;

	}
	to {
		clip-path: inset(0% 0% 0% 0%);
        opacity: 1;
	}
}

@keyframes fade {
	from {
        opacity: 0;

	}
	to {
        opacity: 1;
	}
}

.middle, .end {
    margin-top: 6rem;
}

.middle.in-view {
	animation: reveal-curtain 2s ease-out;
}

.end.in-view {
	animation: fade 1.5s linear;
}