.content {
    width: 100%;
}

.block {
    margin: auto;
}

.stack {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.description-block-scourge {
    background: linear-gradient(greenyellow, orange);
    color: purple;
}

.description-block-salt {
    background: linear-gradient(hotpink, darkturquoise);
    color: white;
}

@media only screen and (min-width: 750px) {
    .block {
        width: 75%
    }
}

@media only screen and (min-width: 500px) {
    .block {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

