.content {
    width: 80%;
    margin: auto;
}

.text-header {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    color: rgba(55, 54, 54, 0.85);
}

.text {
    font-family: 'Montserrat Alternates', sans-serif;
    line-height: 1.5;
    letter-spacing: 1.5;
    font-size: medium;
    text-align: justify;
    color: gray;
}

@media only screen and (min-width: 500px) {
    .block {
            display: flex;
            justify-content: space-between;
            margin-top: 5rem;
            align-items: center;
        }
        .textBlock, .imageBlock {
            width: 48%;
        }
        .text-header {
            font-size: x-large;
        }
}