.container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height: 50vh; 
}

.textBlock {
    width: 30%;
}

.horizontal {
    display: flex;
    flex-direction: row;
}