.container {
    margin-bottom: 1rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

/* nifty glitch buttons from  https: //codepen.io/stevenlei/pen/ZEpyBod */
button,
button::after {
    min-width: 300px; 
    height: 65px;
    border-radius: 50px;
    font-size: 36px;
    font-family: 'Megrim', sans-serif;
    border: 0;
    color: whitesmoke;
    letter-spacing: 3px;
    outline: transparent;
    position: relative;
    cursor: pointer;
}

.button-blue, 
.button-blue::after {
    background:  rgb(0, 0, 0) 5%;
    box-shadow: 6px 6px 0px rgb(45, 181, 186);
}

.button-yellow, 
.button-yellow::after {
    background:  rgb(0, 0, 0) 5%;
    box-shadow: 6px 6px 0px rgb(245,174,64);
}

.button-pink, 
.button-pink::after {
    background: rgb(0,0,0) 5%;
    box-shadow: 6px 6px 0px rgb(253,73,181);
}

.button-green, 
.button-green::after {
        background:  rgb(0,0,0) 5%;
    box-shadow: 6px 6px 0px rgb(137, 224, 100);
}

.button-red, 
.button-red::after {
    background: rgb(0,0,0) 5%;
    box-shadow: 6px 6px 0px rgb(208, 20, 20);
}

.button-purple, 
.button-purple::after {
    background: rgb(0,0,0) 5%;
    box-shadow: 6px 6px 0px rgb(176, 0, 199);
}

.button-orange, 
.button-orange::after {
    background: #000000 5%;
    box-shadow: 6px 6px 0px #ff914d;
}

.button-medaling-pink, 
.button-medaling-pink::after {
    background: #fe689f 5%;
    box-shadow: 6px 6px 0px #c8cac9;
}

.button-medaling-blue, 
.button-medaling-blue::after {
    background: #179990 5%;
    box-shadow: 6px 6px 0px #143d71;
}

.button-wingmen-purple, 
.button-wingmen-purple::after {
    background: #a727e7 5%;
    box-shadow: 6px 6px 0px #c8cac9;
}

.button-wingmen-blue, 
.button-wingmen-blue::after {
    background: #00c9e8 5%;
    box-shadow: 6px 6px 0px #348601;
}

.button-brocode-green, 
.button-brocode-green::after {
    background: #06a682 5%;
    box-shadow: 6px 6px 0px #c8cac9;
}

button::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);

    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    clip-path: var(--slice-0);
    content: '--------------';
    background: linear-gradient(45deg, transparent 3%, rgb(255, 0, 200) 3%, rgb(0, 242, 255) 5%, rgb(0,0,0) 5%);
    text-shadow: -3px -3px 0px greenyellow, 3px 3px 0px orange;
}

button:hover::after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
}

@keyframes glitch {
    0% {
        clip-path: var(--slice-1);
        transform: translate(-20px, -10px);
    }

    10% {
        clip-path: var(--slice-3);
        transform: translate(10px, 10px);
    }

    20% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 10px);
    }

    30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 5px);
    }

    40% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 0px);
    }

    50% {
        clip-path: var(--slice-3);
        transform: translate(5px, 0px);
    }

    60% {
        clip-path: var(--slice-4);
        transform: translate(5px, 10px);
    }

    70% {
        clip-path: var(--slice-2);
        transform: translate(-10px, 10px);
    }

    80% {
        clip-path: var(--slice-5);
        transform: translate(20px, -10px);
    }

    90% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 0px);
    }

    100% {
        clip-path: var(--slice-1);
        transform: translate(0);
    }
}

@media only screen and (min-width: 750px) {
    .container {
        margin-bottom: 3rem;
        margin-top: 3rem;
    }
    button, button::after {
        min-width: 500px;
    }
}