.container {
    margin-bottom: 3rem;
    margin-top: 3rem;
}

/* nifty glitch buttons from  https: //codepen.io/stevenlei/pen/ZEpyBod */
button,
button::after {
    width: 100%; 
    height: 86px;
    border-radius: 50px;
    font-size: 36px;
    font-family: 'Megrim', sans-serif;
    border: 0;
    color: whitesmoke;
    letter-spacing: 3px;
    line-height: 88px;
    outline: transparent;
    position: relative;
    cursor: pointer;
}

.button-black-one, 
.button-black-one::after {
    background:  rgb(31, 31, 31) 5%;
    box-shadow: 6px 6px 0px rgb(45, 181, 186);
}

.button-black-two, 
.button-black-two::after {
    background:  rgb(31, 31, 31) 5%;
    box-shadow: 6px 6px 0px rgb(245,174,64);
}

.button-purple, 
.button-purple::after {
    background: rgb(49,23,59) 5%;
    box-shadow: 6px 6px 0px rgb(212,94,91);
}

.button-blue,
.button-blue::after {
    background: rgb(22,70,119) 5%;
    box-shadow: 6px 6px 0px rgb(233,125,91);
}

.button-yellow, 
.button-yellow::after {
    background: rgb(239, 193, 55) 5%;
    box-shadow: 6px 6px 0px rgb(247, 13, 200);
}

.button-pink, 
.button-pink::after {
    background: rgb(253, 73, 121) 5%;
    box-shadow: 6px 6px 0px rgb(3, 3, 3);
}

.button-green, 
.button-green::after {
    background: rgb(6,190,97) 5%;
    box-shadow: 6px 6px 0px rgb(3, 3, 3);
}

.button-red, 
.button-red::after {
    background: #e30302 5%;
    box-shadow: 6px 6px 0px #d0c9b8;
}

button::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);

    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    clip-path: var(--slice-0);
}

.button-black-one::after {
    content: '--------------';
    background: linear-gradient(45deg, transparent 3%, rgb(224,95,119) 3%, rgb(224,95,119) 5%, rgb(31,31,31) 5%);
    text-shadow: -3px -3px 0px greenyellow, 3px 3px 0px orange;
}

.button-black-two::after {
    content: '--------------';
    background: linear-gradient(45deg, transparent 3%, rgb(45, 181, 186) 3%, rgb(45, 181, 186) 5%, rgb(31, 31, 31) 5%);
    text-shadow: -3px -3px 0px greenyellow, 3px 3px 0px rgb(224,95,119);
}
.button-purple::after {
    content: '--------------';
    background: linear-gradient(45deg, transparent 3%, rgb(212,94,91) 3%, rgb(212,94,91) 5%, rgb(49,23,59) 5%);
    text-shadow: -3px -3px 0px turquoise, 3px 3px 0px greenyellow;
}

.button-blue::after {
    content: '--------------';
    background: linear-gradient(45deg, transparent 3%, rgb(233,125,91) 3%, rgb(233,125,91) 5%, rgb(22,70,119)  5%);
    text-shadow: -3px -3px 0px rgb(224,95,119), 3px 3px 0px #00E6F6;
}

.button-yellow::after {
    content: '--------------';
    background: linear-gradient(45deg, transparent 3%, rgb(250, 250, 250) 3%, rgb(250,250,250) 5%,  rgb(239, 193, 55) 5%);
    text-shadow: -3px -3px 0px yellowgreen, 3px 3px 0px aqua;
}

.button-pink::after {
    content: '--------------';
    background: linear-gradient(45deg, transparent 3%, rgb(250, 250, 250) 3%, rgb(250,250,250) 5%, rgb(253,73,181) 5%);
    text-shadow: -3px -3px 0px yellowgreen, 3px 3px 0px aqua;
}

.button-red::after {
    content: '--------------';
    background: linear-gradient(45deg, transparent 3%, rgb(250, 250, 250) 3%, rgb(250,250,250) 5%, #cd0202 5%);
    text-shadow: -3px -3px 0px yellowgreen, 3px 3px 0px aqua;
}

.button-green::after {
    content: '--------------';
    background: linear-gradient(45deg, transparent 3%, rgb(250, 250, 250) 3%, rgb(250,250,250) 5%, rgb(6,190,97) 5%);
    text-shadow: -3px -3px 0px yellowgreen, 3px 3px 0px aqua;
}

button:hover::after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
}

@keyframes glitch {
    0% {
        clip-path: var(--slice-1);
        transform: translate(-20px, -10px);
    }

    10% {
        clip-path: var(--slice-3);
        transform: translate(10px, 10px);
    }

    20% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 10px);
    }

    30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 5px);
    }

    40% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 0px);
    }

    50% {
        clip-path: var(--slice-3);
        transform: translate(5px, 0px);
    }

    60% {
        clip-path: var(--slice-4);
        transform: translate(5px, 10px);
    }

    70% {
        clip-path: var(--slice-2);
        transform: translate(-10px, 10px);
    }

    80% {
        clip-path: var(--slice-5);
        transform: translate(20px, -10px);
    }

    90% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 0px);
    }

    100% {
        clip-path: var(--slice-1);
        transform: translate(0);
    }
}

@media only screen and (min-width: 750px) {
    button, button::after {
        min-width: 350px;
    }
}