.container {
    margin-bottom: 0;
    margin-top: 1rem;
}

/* nifty glitch buttons from  https: //codepen.io/stevenlei/pen/ZEpyBod */
button,
button::after {
    width: 100%; 
    height: 86px;
    border-radius: 50px;
    font-size: 36px;
    font-family: 'Megrim', sans-serif;
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    line-height: 88px;
    outline: transparent;
    position: relative;
    cursor: pointer;
}

.button-salt, 
.button-salt::after {
    background: rgb(22,43,93) 5%;
    box-shadow: 6px 6px 0px rgb(224,95,119);
}

.button-sand, 
.button-sand::after {
    background: rgb(78, 28, 96) 5%;
    box-shadow: 6px 6px 0px rgb(45, 181, 186);
}

.button-soul, 
.button-soul::after {
    background: rgb(49,23,59) 5%;
    box-shadow: 6px 6px 0px rgb(212,94,91);
}

.button-scourge,
.button-scourge::after {
    background: rgb(22,70,119) 5%;
    box-shadow: 6px 6px 0px rgb(233,125,91);
}

.button-paz,
.button-paz::after {
    background: rgb(75, 133, 93) 5%;
    box-shadow: 6px 6px 0px rgb(114, 83, 74);
}

.button-savage,
.button-savage::after {
    background: rgb(42, 69, 142) 5%;
    box-shadow: 6px 6px 0px rgb(166, 113, 84);
}

button::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);

    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    clip-path: var(--slice-0);
}

.button-salt::after {
    content: '--------------';
    background: linear-gradient(45deg, transparent 3%, rgb(224,95,119) 3%, rgb(224,95,119) 5%, rgb(22,43,93) 5%);
    text-shadow: -3px -3px 0px greenyellow, 3px 3px 0px orange;
}

.button-sand::after {
    content: '--------------';
    background: linear-gradient(45deg, transparent 3%, rgb(45, 181, 186) 3%, rgb(45, 181, 186) 5%, rgb(78, 28, 96) 5%);
    text-shadow: -3px -3px 0px greenyellow, 3px 3px 0px rgb(224,95,119);
}
.button-soul::after {
    content: '--------------';
    background: linear-gradient(45deg, transparent 3%, rgb(212,94,91) 3%, rgb(212,94,91) 5%, rgb(49,23,59) 5%);
    text-shadow: -3px -3px 0px turquoise, 3px 3px 0px greenyellow;
}

.button-scourge::after {
    content: '--------------';
    background: linear-gradient(45deg, transparent 3%, rgb(233,125,91) 3%, rgb(233,125,91) 5%, rgb(22,70,119)  5%);
    text-shadow: -3px -3px 0px rgb(224,95,119), 3px 3px 0px #00E6F6;
}

.button-savage::after {
    content: '--------------';
    background: linear-gradient(45deg, transparent 3%, rgb(233,125,91) 3%, rgb(233,125,91) 5%, rgb(22,70,119)  5%);
    text-shadow: -3px -3px 0px rgb(224,95,119), 3px 3px 0px #00E6F6;
}

button:hover::after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
}

@keyframes glitch {
    0% {
        clip-path: var(--slice-1);
        transform: translate(-20px, -10px);
    }

    10% {
        clip-path: var(--slice-3);
        transform: translate(10px, 10px);
    }

    20% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 10px);
    }

    30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 5px);
    }

    40% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 0px);
    }

    50% {
        clip-path: var(--slice-3);
        transform: translate(5px, 0px);
    }

    60% {
        clip-path: var(--slice-4);
        transform: translate(5px, 10px);
    }

    70% {
        clip-path: var(--slice-2);
        transform: translate(-10px, 10px);
    }

    80% {
        clip-path: var(--slice-5);
        transform: translate(20px, -10px);
    }

    90% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 0px);
    }

    100% {
        clip-path: var(--slice-1);
        transform: translate(0);
    }
}

@media only screen and (min-width: 750px) {
    button, button::after {
        min-width: 350px;
    }
}