.container {
    display: flex;
    justify-content: center;
    color: rgba(55, 54, 54, 0.85);
    font-family: 'Raleway';
    font-size: small;
    position: absolute;
    bottom: 0;          /* Aligns perfectly with the bottom of the parent */
    right: 0;           /* Positions it on the right side */
    p {
        margin-bottom: 0;
    }
    z-index: -1;
}

@media only screen and (max-width: 750px) {
    .container {
        position: absolute;
        bottom: 0;  
        left: 50%;
        transform: translate(-50%);
        font-size: xx-small;
        width: 100%;
    }
}