.container {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        border-style: solid;
        border-top: none;
        border-left: none;
        border-right: none;
        position: sticky;
        top: 0;
        z-index: 100;
        width: 100vw;
}

@keyframes sticky-parallax-header-move-and-size {
	from {
		height: 10vh;
        padding-bottom: 2rem;
        border-color: rgb(169, 169, 169, 0.2);
	}
	to {
		height: 5vh;
        padding-bottom: .75rem;
        border-color: rgb(169, 169, 169, 0);
	}
}

#sticky-parallax-header {
	position: fixed;
	top: 0;
	animation: sticky-parallax-header-move-and-size 0.5s linear infinite;
}

@keyframes fade {
	to {
		opacity: 0;;
	}
}
        
.logo, #sticky-parallax-header a {
    margin-left: 1rem;
    animation: fade 0.5s linear infinite;
}

/* TODO: consolidate all these animation params into a global object */
.logo, #sticky-parallax-header, #sticky-parallax-header a {
	/* Don't let the animation play by default */
	animation-play-state: paused;
    /* Bind the animation to scroll */
    animation-delay: calc(var(--scroll) * -1s);
    /* These last 2 properites clean up overshoot weirdness */
    animation-iteration-count: 1;
    animation-fill-mode: both;
}