.content {
    margin: auto;
    text-align: center;
}

.title {
    font-family: 'Megrim';
    font-size: xx-large;
}

.subtitle {
    font-family: 'Raleway';
}

.header {
    font-family: 'Raleway';
}

.spam {
    color: palevioletred;
}

.promo {
    color: darkcyan;
}

.spinner {
    width: 50%;
    margin: auto;
    margin-top: 10rem;
    text-align: center;
}

.link {
    text-decoration: underline;
}