
@keyframes gradient-shift {
	from {
		background-color: white;
	}
	to {
		background-color: bisque;
	}
}

.container {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    display: flex;
    animation: gradient-shift linear forwards;
	animation-timeline: scroll();
	animation-range: 0vh 1000vh;
}
