.nav-menu {
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.nav-link-text {
    color: #a9a9a9;
    text-decoration: none;
    font-family: 'Megrim';
    font-size: x-large;
}

.nav-link-item {
    padding-left: 2rem;
}