.nav-menu {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    margin-top: 1rem;
}

.nav-links {
    display: flex;
    align-items: baseline;
    list-style: none;
    padding-left: 0;
}

.nav-link-text {
    color: rgba(55, 54, 54, 0.85);
    text-decoration: none;
    font-family: 'Megrim';
    font-size: x-large;
}

.nav-link-item {
    padding-left: 1rem;
}

@media only screen and (min-width: 750px) {
    .nav-link-item {
        padding-left: 2rem;
    }
    .nav-link-text {
        font-size: xx-large;
    }
}