.container {
    display: flex;
    flex-direction: column;
    position: absolute;
}

.link {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: rgba(55, 54, 54, 0.85);
}

@keyframes fade {
    to {
        opacity: 0.3;
        margin-top: 0;
        margin-bottom: 0;
    }
}

.link {
    animation: fade linear both;
    animation-timeline: scroll();
	animation-range: 0 500px;
}