.container {
    display: flex;
    flex-direction: column;
    position: absolute;
}

.link {
    color: rgba(55, 54, 54, 0.85);
    margin-bottom: 0.5rem;
}

@keyframes fade {
    to {
        opacity: 0.3;
        margin-bottom: 0;
    }
}

.link {
    animation: fade 15s linear infinite;
}

@media only screen and (min-width: 750px) {
    .link {
        margin-bottom: 2rem;
    }
}

/* TODO: consolidate all these animation params into a global object */
.link {
	/* Don't let the animation play by default */
	animation-play-state: paused;
    /* Bind the animation to scroll */
    animation-delay: calc(var(--scroll) * -1s);
    /* These last 2 properites clean up overshoot weirdness */
    animation-iteration-count: 1;
    animation-fill-mode: both;
}