.block {
    width: 80%;
    margin: auto;
    margin-bottom: 10rem;
}

.block:last-of-type, .no-margin {
    margin-bottom: 0;
}

.text-header {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(55, 54, 54, 0.85);
}

.text, .text-small {
    font-family: 'Montserrat Alternates', sans-serif;
    line-height: 1.5;
    letter-spacing: 1.5;
    font-size: medium;
    text-align: justify;
    color: gray;
}

.italic {
    font-style: italic;
    line-height: 1.5;
    letter-spacing: 1.5;
    text-align: justify;
}

.ctas {
    margin: 0;
}

@media only screen and (min-width: 750px) {
    .block{
		display: flex;
		justify-content: space-between;
		align-items: center;
    }
	.text-block {
		width: 50%;
	}
	.text-header {
		margin: 0;
	}
}

@keyframes fade {
	from {

        opacity: 0;

	}
	to {

        opacity: 1;
	}
}

.in-view {
	animation: fade 3s linear;
}