.block {
    width: 80%;
    margin: auto;
    margin-bottom: 10rem;
}

.block:last-of-type {
    margin-bottom: 0;
}

.text-header {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(55, 54, 54, 0.85);
}

.text, .text-small {
    font-family: 'Montserrat Alternates', sans-serif;
    line-height: 1.5;
    letter-spacing: 1.5;
    font-size: medium;
    text-align: justify;
    color: gray;
}

@media only screen and (min-width: 750px) {
    .block{
		display: flex;
		justify-content: space-between;
		align-items: center;
    }
	.text-block {
		width: 50%;
	}
	.text-header {
		margin: 0;
	}
}

@keyframes reveal-right {
	from {
        /* clip-path: inset(0% 100% 100% 0%); */
        opacity: 0;

	}
	to {
		/* clip-path: inset(0% 0% 0% 0%); */
        opacity: 1;
	}
}

@keyframes reveal-left {
	from {
		/* clip-path: inset(0% 0% 100% 100%); */
        opacity: 0;

	}
	to {
		/* clip-path: inset(0% 0% 0% 0%); */
        opacity: 1;
	}
}

.reveal-left {
	/* Create View Timeline */
	view-timeline-name: --revealing-image;
	view-timeline-axis: block;

	/* Attach animation, linked to the  View Timeline */
	animation: reveal-left linear both;
	animation-timeline: --revealing-image;

	/* Tweak range when effect should run*/
	animation-range: entry 0% cover 45%;
}

.reveal-right {
	/* Create View Timeline */
	view-timeline-name: --revealing-image;
	view-timeline-axis: block;

	/* Attach animation, linked to the  View Timeline */
	animation: reveal-right linear both;
	animation-timeline: --revealing-image;

	/* Tweak range when effect should run*/
	animation-range: entry 0% cover 45%;
}
