.block {
    display: flex;
    justify-content: space-between;
	align-items: center;
    width: 80%;
    margin: auto;
    margin-bottom: 10rem;
}

.block:last-of-type {
    margin-bottom: 0;
}

.textBlock {
    width: 50%;
}

.text-header {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    color: rgba(55, 54, 54, 0.85);
}

.text, .text-small {
    font-family: 'Montserrat Alternates', sans-serif;
    line-height: 1.5;
    letter-spacing: 1.5;
    font-size: medium;
    text-align: justify;
    color: gray;
}

@keyframes reveal-right {
	from {
        clip-path: inset(0% 100% 0% 0%);
        opacity: 0;

	}
	to {
		clip-path: inset(0% 0% 0% 0%);
        opacity: 1;
	}
}

@keyframes reveal-left {
	from {
		clip-path: inset(0% 0% 0% 100%);
        opacity: 0;

	}
	to {
		clip-path: inset(0% 0% 0% 0%);
        opacity: 1;
	}
}

.reveal-left {
	/* Create View Timeline */
	view-timeline-name: --revealing-image;
	view-timeline-axis: block;

	/* Attach animation, linked to the  View Timeline */
	animation: reveal-left linear both;
	animation-timeline: --revealing-image;

	/* Tweak range when effect should run*/
	animation-range: entry 0% cover 50%;
}

.reveal-right {
	/* Create View Timeline */
	view-timeline-name: --revealing-image;
	view-timeline-axis: block;

	/* Attach animation, linked to the  View Timeline */
	animation: reveal-right linear both;
	animation-timeline: --revealing-image;

	/* Tweak range when effect should run*/
	animation-range: entry 0% cover 50%;
}
