.author-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.author-headshot {
    border-radius: 100%;
    box-shadow: 3px 0 0px rgb(79, 79, 79), -3px 0 0px rgb(79, 78, 78);
}

.text-header {
    font-family: 'Roboto Slab', sans-serif;
    text-align: center;
    font-size: medium;
    letter-spacing: 1px;
    color: rgba(55, 54, 54, 0.85);
}

.text {
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: gray;
    text-align: center;
    font-style: italic;
    width: 85%;
    margin: auto;
    font-size: large;
}

.finger {
    text-align: center;
    font-size: xx-large;
    opacity: 1;
}

@keyframes fade {
    to {
        opacity: 0;
    }
}

.finger {
    animation: fade 0.15s linear infinite;
}

/* TODO: consolidate all these animation params into a global object */
.finger {
	/* Don't let the animation play by default */
	animation-play-state: paused;
    /* Bind the animation to scroll */
    animation-delay: calc(var(--scroll) * -1s);
    /* These last 2 properites clean up overshoot weirdness */
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@media only screen and (min-width: 750px) {
    .text-header {
        font-size: x-large;
    }
    .text {
        width: 100%;
        font-size: x-large;
    }
}