.hover {
    position: relative;
}

.book-cover {
    transition: .5s;
}

.book-cover:hover {
    opacity: .25;
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

.description-block {
    position: absolute;
    height: 100%;
    overflow-y: scroll;
}

.description-block-scourge {
    background: linear-gradient(greenyellow, orange);
    color: purple;
}

.description-block-salt {
    background: linear-gradient(hotpink, darkturquoise);
    color: white;
}

.description {
    margin-right: 1rem;
    margin-left: 1rem;
    font-family: Raleway;
    line-height: 1.5rem;
}

@media (hover: none) {
    /* disable hover effect for touchscreens */
    .book-cover:hover {
        opacity: inherit;
        filter: none;
        -webkit-filter: none;
    }
}