.container {
    position: relative;
}

.book-cover {
    transition: .5s;
    cursor: pointer;
}

.book-cover-hover {
    opacity: .25;
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

.description-block {
    position: absolute;
    height: 100%;
    overflow-y: scroll;
}

.description-block-scourge {
    background: linear-gradient(greenyellow, orange);
    color: purple;
}

.description-block-salt {
    background: linear-gradient(hotpink, darkturquoise);
    color: white;
}

.description-block-seed {
    background: linear-gradient(yellow, plum);
    color: darkslategray;
}

.description {
    margin-right: 1rem;
    margin-left: 1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5rem;
}