.container {
    margin-top: 1rem;
    margin-bottom: 0;
}

.flipContainer {
    margin-bottom: .5rem;
    margin-top: 3rem;
}

/* nifty glitch buttons from  https: //codepen.io/stevenlei/pen/ZEpyBod */
button,
button::after {
    width: 100%; 
    height: 86px;
    border-radius: 4px;
    font-size: 36px;
    font-family: 'Bebas Neue', sans-serif;
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    line-height: 88px;
    outline: transparent;
    position: relative;
    cursor: pointer;
}

.button-salt, 
.button-salt::after {
    background: darkturquoise 5%;
    box-shadow: 6px 6px 0px hotpink;
}

.button-salt-flip,
.button-salt-flip::after {
    box-shadow: -6px -6px 0px hotpink;
}

.button-sand, 
.button-sand::after {
    background: mediumorchid 5%;
    box-shadow: 6px 6px 0px turquoise;
}

.button-sand-flip,
.button-sand-flip::after {
    box-shadow: -6px -6px 0px mediumpurple;
}

.button-soul, 
.button-soul::after {
    background: crimson 5%;
    box-shadow: 6px 6px 0px darkorange;
}

.button-soul-flip,
.button-soul-flip::after {
    box-shadow: -6px -6px 0px darkorange;
}

.button-scourge,
.button-scourge::after {
    background: orange 5%;
    box-shadow: 6px 6px 0px lime;
}

.button-scourge-flip,
.button-scourge-flip::after {
    box-shadow: -6px -6px 0px lime;
}

.button-seed,
.button-seed::after {
    background: plum 5%;
    box-shadow: 6px 6px 0px gold;
}

.button-seed-flip,
.button-seed-flip::after {
    box-shadow: -6px -6px 0px yellow;
}

button::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);

    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    clip-path: var(--slice-0);
}

.button-salt::after {
    content: 'PRE-ORDER NOW';
    background: linear-gradient(45deg, transparent 3%, hotpink 3%, hotpink 5%, darkturquoise 5%);
    text-shadow: -3px -3px 0px greenyellow, 3px 3px 0px orange;
}

.button-sand::after {
    content: 'COMING 03/2023';
    background: linear-gradient(45deg, transparent 3%, turquoise 3%, turquoise 5%, mediumorchid 5%);
    text-shadow: -3px -3px 0px greenyellow, 3px 3px 0px hotpink;
}
.button-soul::after {
    content: 'COMING 05/2023';
    background: linear-gradient(45deg, transparent 3%, darkorange 3%, darkorange 5%, crimson 5%);
    text-shadow: -3px -3px 0px turquoise, 3px 3px 0px greenyellow;
}

.button-scourge::after {
    content: 'AVAILABLE NOW';
    background: linear-gradient(45deg, transparent 3%, greenyellow 3%, greenyellow 5%, orange 5%);
    text-shadow: -3px -3px 0px hotpink, 3px 3px 0px #00E6F6;
}

.button-seed::after {
    content: 'DOWNLOAD FREE';
    background: linear-gradient(45deg, transparent 3%, yellow 3%, yellow 5%, plum 5%);
    text-shadow: -3px -3px 0px hotpink, 3px 3px 0px greenyellow;
}

button:hover::after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
}

@keyframes glitch {
    0% {
        clip-path: var(--slice-1);
        transform: translate(-20px, -10px);
    }

    10% {
        clip-path: var(--slice-3);
        transform: translate(10px, 10px);
    }

    20% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 10px);
    }

    30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 5px);
    }

    40% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 0px);
    }

    50% {
        clip-path: var(--slice-3);
        transform: translate(5px, 0px);
    }

    60% {
        clip-path: var(--slice-4);
        transform: translate(5px, 10px);
    }

    70% {
        clip-path: var(--slice-2);
        transform: translate(-10px, 10px);
    }

    80% {
        clip-path: var(--slice-5);
        transform: translate(20px, -10px);
    }

    90% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 0px);
    }

    100% {
        clip-path: var(--slice-1);
        transform: translate(0);
    }
}
