.button {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


@media only screen and (min-width: 750px) {
    .headline-text {
        font-size: xx-large;
    }
}

@media only screen and (max-width: 750px) {
    .gif {
        max-width: 80%;
    }
}